In [46]:
# NIM/Nama  : 16521432/Syafiq Ziyadul Arifin
# Tanggal   : 1 Desember 2021
# Deskripsi : Diberikan data rumah yang disewakan di Brazil
# Judul     : Problem 2 Praktikum 5 Praktikum Pengenalan Komputasi Pengantar 2021-2022

# Kamus
# import pandas as pd: mengimpor library pandas dan meng-assign pandas sebagai pd untuk digunakan
# df: variabel yang membaca data "P05-02.csv"
# .read_csv(): membaca data
# len(): menentukan panjang data
# .loc(): menampilkan data tertentu
# .idxmax(): mencari index untuk nilai maksimum
# .value_counts(): membaca banyaknya data sesuai dengan nilai tiap data
# .sort_values(): mengurutkan data sesuai dengan kolom tertentu
# ascending: menentukan cara mengurutkan data (menurun atau menaik)

# Mulai

# Kita mulai dengan mengimpor modul pandas dan data csv tersebut
import pandas as pd
df = pd.read_csv("C:/Users/safiq/Downloads/P05-02.csv")

In [47]:
# 1. Ada berapa rumah yang mengizinkan membawa hewan peliharaan dengan harga sewa per tahun di bawah 5000?
print("Ada", len(df.loc[(df["animal"] == "acept") & (df["rent_amount"] < 5000)]), "rumah yang mengizinkan membawa hewan peliharaan dengan harga sewa per tahun di bawah 5000")

Ada 4936 rumah yang mengizinkan membawa hewan peliharaan dengan harga sewa per tahun di bawah 5000

In [48]:
# 2. Data rumah dengan jumlah kamar mandi terbanyak
df[df["bathroom"].idxmax():df["bathroom"].idxmax()+1]

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,homeowner_tax,rent_amount,property_tax,fire_insurance,total
319,Sao Paulo,900,4,9,8,1,acept,not furnished,0,15000,5700,226,20930

In [49]:
# 3. Ada berapa rumah dengan luas di atas 200 dan pajak bangunan per tahun di bawah 1700?
print("Ada", len(df.loc[(df["area"] > 200) & (df["property_tax"] < 1700)]), "rumah dengan luas di atas 200 dan pajak bangunan per tahun di bawah 1700")

Ada 979 rumah dengan luas di atas 200 dan pajak bangunan per tahun di bawah 1700

In [50]:
# 4. Banyak rumah dengan biaya asuransi kebakaran per tahun di atas 70 untuk masing-masing kota
df.loc[df["fire_insurance"] > 70]["city"].value_counts()

Sao Paulo         1095
Rio de Janeiro     196
Belo Horizonte     117
Porto Alegre        48
Campinas            34
Name: city, dtype: int64

In [51]:
# 5. 5 data rumah dengan jumlah lantai terbanyak yang belum dilengkapi furnitur (not furnished)
df.loc[df["furniture"] == "not furnished"].sort_values("floor", ascending=0)[:5]

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,homeowner_tax,rent_amount,property_tax,fire_insurance,total
1936,Belo Horizonte,80,3,2,2,301,acept,not furnished,750,2600,164,35,3549
4392,Campinas,64,2,2,2,51,acept,not furnished,800,1900,129,25,2854
1230,Sao Paulo,353,4,5,5,46,acept,not furnished,3000,10000,0,127,13130
7844,Sao Paulo,51,1,1,0,32,not acept,not furnished,429,3250,37,42,3758
4257,Belo Horizonte,305,4,5,5,29,acept,not furnished,4596,14000,2239,187,21020